---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - traktor.gdxcloud.net
  resources:
  - secretsrefreshes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - traktor.gdxcloud.net
  resources:
  - secretsrefreshes/finalizers
  verbs:
  - update
- apiGroups:
  - traktor.gdxcloud.net
  resources:
  - secretsrefreshes/status
  verbs:
  - get
  - patch
  - update
